<%- include("partials/header"); -%>
    <span class="box-background">
    <div class="box" style="margin-top: 9rem;">
    <h1>
        <%=title%>
    </h1>
    <p>
        <%=content%>
    </p>
    </div>
    </span>


    <%- include("partials/footer"); -%>