<%- include("partials/header"); -%>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Successfully signed up!</h1>
            <p>Thank you for signing up, you'll be informed whenever there is new blogpost on your email.</p>
        </div>
    </div>

    <%- include( "partials/footer"); -%>